.subheader {
    text-align: center;
    margin-bottom: 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 8.9rem;
    z-index: 2;
    background: #faf6f2;
    padding-top: 2rem;
    padding-bottom: 7rem;
    box-shadow: 0 2rem 1rem rgba(250, 246, 242, .8);
    width: 100%;
}

.subheader__body {
    margin-top: 2rem;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
}

.subheader__title {
    color: #27272e;
    opacity: 0.9 
}

.subheader__title p {
    margin: 0;
    padding: 0;
}

.subheader__title h2 {
    font-weight: 500;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.subheader__body input {
    border: none;
    border-bottom: 0.1rem solid #d1b69b;
    height: 2rem;
    margin: 0 2rem;
    color: #444;
    box-shadow: 0 0.1rem 0.5rem rgba(128, 74, 20, .5);
    width: 17.6rem;;
    border-radius: 0.5rem;
    padding-left: 2.4rem;
}

.subheader__body input:focus {
    outline: none;
}

.subheader__body select {
    width: 20rem;
    border: none;
    border-bottom: 0.1rem solid #d1b69b;
    height: 2.3rem;
    margin-right: 2rem;
    color: #444;
    box-shadow: 0 0.1rem 0.5rem rgba(128, 74, 20, .5);
    outline: none;
    border-radius: 0.5rem;
}

.search-icon {
    color: #ed9d58;
    margin-left: -21.8rem;
    position: absolute;
    margin-top: 0.25rem;
}

.subheader__body select:hover {
    cursor: pointer;
} 

@media (max-width: 62rem){
    .subheader__title h2 {
        font-size: 5.6rem;
    }
    .subheader {
        padding-bottom: 14rem;
    }
    .subheader__body input {
        font-size: 3rem;
        height: 5rem;
        width: 24rem;
        padding: 0 0 0 5rem;
    }
    .subheader__body select {
        font-size: 3rem;
        height: 5rem;
        width: 28rem;
        margin-top: 0;
    }
    .subheader__body select option{
        font-size: 3rem;
    }
    .search-icon {
        margin-left: -30.3rem;
        margin-top: 1rem;
        font-size: 3rem;
    }
    .subheader__body {
        justify-content: space-around;
    }
    
    @media (max-width: 45rem){
        .subheader__body {
            justify-content: center;
        }
        .subheader__body input {
            width: 22rem;
            margin-right: 1rem;
        }
        .subheader__body select {
            width: 26.4rem;
        }
        .search-icon {
            margin-left: -26.6rem;
        }
    }
}